{% include 'home/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>
    
    <h3>Filter Task by Priority</h3>
    <form method="post" autocomplete="off">
        {% csrf_token %}
        <label id="priorityChoice">Enter the priority </label>:
        <select id="priorityChoice" name="priorityChoice" required>
        <option value="low">low</option>
           <option value="mid">mid</option>
           <option value="high">high</option><br>
           
           </select><br><br>
        <input type="submit" value="Submit"/>


    </form>

    <div>
        {% for a in ans %}
        <p>{{ a }}HHH</p>
        {% endfor %}
    </div>
    
    

</body>
</html>
